ShapesDemo/Bin/
ShapesDemo/Intermediate/
CrateDemo/Bin/
CrateDemo/Intermediate/
LightingDemo/Bin/
LightingDemo/Intermediate/
FirstPersonCamera/Bin/
FirstPersonCamera/Intermediate/
Blending/Bin/
Blending/Intermediate/

*.sdf
*.opendb
*.suo